body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.nav, .navbar-fixed-top, .navbar-brand,.navbar-custom{
    color: white;;
    background: #2962FF;
    font-weight: 700;
    border: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-color: white;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
}
.navbar-custom a:focus {
    outline: none;
}
.navbar-custom .navbar-brand {
    color: white;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #FFFF00;
}
.navbar-custom .navbar-nav {
    letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
    color: white;
}
.navbar-custom .navbar-nav li a:hover {
    color: black;
    outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: white;
}
.navbar-custom .navbar-nav li.active a {
    color: white;
    background:#FFEB3B;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #18BC9C;
}
.navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #FFEB3B;
    color: white;
    border-color: #18BC9C;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-custom.affix {
    padding: 10px 0;
}
.navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
}
